<div class="top_in_center">
        <div class="action_button">
            <%= button_to  'Back', devices_path , class: 'btn_small_blue', method: :get %>
        </div>
</div>
<p id="notice"><%= notice %></p>
<table class="tblList">
	<tr>
		<th><strong>Name:</strong></th>
		<td><%= @device.name %></td>
	</tr>
	<tr>
		<th><strong>Company:</strong></th>
		<td><%= @device.company.name%></td>
	</tr>
	<tr>
		<th> <strong>Status:</strong></th>
		<td><%= @device.status %></td>
	</tr>
	<tr>
		<th><strong>Lat:</strong></th>
		<td> <%= @device.lat %></td>
	</tr>
	<tr>
		<th>  <strong>Lng:</strong></th>
		<td><%= @device.lng %></td>
	</tr>
</table>