<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
 
    // check password
    $("#center .signin_form #change_password").click(function(){
        var password = "<%= @password%>";
        var old_password = $("#center .signin_form #user_old_password").val();
        var new_password = $("#center .signin_form #user_password").val();
        var pass_confir = $("#center .signin_form #user_password_confirmation").val();
        var old_password_md5 = CryptoJS.MD5(old_password);  
        var error=false;
        var regex = /^[a-zA-Z0-9]*$/;
        var test = regex.test(new_password);
        if(password != old_password_md5){
            $("#center .signin_form  .error_pass").html("Password invalid");
              error =true;
        }
        if(new_password.length == 0){
            $("#center .signin_form .error_new").html("new password can't blank");
            error = true;
        }else if (new_password.length < 6){
            $("#center .signin_form .error_new").html("is too short (minimum is 6 characters)");
            error = true;
        }else if(test == false){
            $("#center .signin_form .error_new").html("is invalid");
            error = true;
        }
        if(new_password != pass_confir){
            $("#center .signin_form .error_pass_confirmation").html("Passwords don't match");
            error = true;
        }
        if( error == true){
          return false;
        }

    })
   
});
</script>
<%= form_for :user ,url:update_password_user_path do |f| %>
    <table  class="signin_form">
      <tr>
        <th >  <%= f.label :old_password, "Password" %></th>
        <td > <%= f.password_field :old_password %></td>
        <td><span class="error error_pass"></span></td>
      </tr>
      <tr>
        <th >  <%= f.label :password, "New password" %></th>
        <td > <%= f.password_field :password %></td>
        <td><span class="error error_new"></span></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, "Password_confirm" %></th>
        <td><%= f.password_field :password_confirmation %></td>
        <td><span class="error error_pass_confirmation"></span></td>
      </tr>

      <tr>
        <td colspan="2"><%= submit_tag 'Change Password',id:'change_password', class:'btn_medium_blue'%><%= f.submit 'Reset', type: :reset, class: 'btn_small_blue' %></td>
      </tr>
    </table>
<% end %>