
<div class="top_in_center">
  <div class="action_button">
      <%= button_to 'Edit', edit_user_path(@user), class: 'btn_small_blue',style:'margin-left:10px', method: :get %>
      <%= button_to  'Back', users_path, class: 'btn_small_blue', method: :get %>
  </div>
</div>
<% if notice%>
  <p class="msgBlue"><%= notice %></p>
<% end%>
<table width="40%" class="tblList">
  <tr>
    <th width="10%">    <strong>Account:</strong></th>
    <td width="20%"> <%= @user.account %></td>
  </tr>
  <tr>
    <th><strong>Name:</strong></th>
    <td> <%= @user.name %></td>
  </tr>
  <tr>
    <th> <strong>Address:</strong></th>
    <td>  <%= @user.address%></td>
  </tr>
  <tr>
    <th>  <strong>Group:</strong></th>
    <td>
      <%= @user.group %>
    </td>
  </tr>
</table>