<h1>New Company</h1>

<%= form_for(@company) do |f| %>

    <table class="new_form">
      <tr>
        <th >   <%= f.label :name, 'Company name' %></th>
        <td > <%= f.text_field :name %></td>
        <td > <%= @company.errors[:name][0] %></td>
      </tr>
      <tr>
        <th> <%= f.label :address, :Address	%></th>
        <td> <%= f.text_area :address %></td>
        <td > <%= @company.errors[:address][0] %></td>
      </tr>
      <tr>
        <th> <%= f.label :code, 'Company Code'%></th>
        <td> <%= f.text_field :code, disabled: true %></td>
        <td > <%= @company.errors[:code][0] %></td>
      </tr>
      <tr>
        <th></th>
        <td> <%= f.submit 'Add', class: 'btn_small_blue' %> <%= f.submit 'Reset', type: :reset, class: 'btn_small_blue' %>
        </td>
      </tr>
    </table>
              <% end %>
              <%= link_to 'Back', users_path %>

<%= link_to 'Back', companies_path %>
