
<div class="top_in_center">
        <div class="action_button">
            <%= button_to 'Edit', edit_company_path(@company), class: 'btn_small_blue',style:'margin-left:10px', method: :get %>
            <%= button_to  'Back', companies_path, class: 'btn_small_blue', method: :get %>
        </div>
</div>

<table width="40%" class="tblList">
  <tr>
    <th><strong>Name:</strong></th>
    <td> <%= @company.name %></td>
  </tr>
  <tr>
    <th><strong>Manager:</strong></th>
    <td><%= @company.user.name%></td>
  </tr>
  <tr>
    <th> <strong>Address:</strong></th>
    <td>  <%= @company.address %></td>
  </tr>
  <tr>
    <th>  <strong>Code:</strong></th>
    <td>
      <%= @company.code %>
    </td>
  </tr>
</table>