<%= form_for(@tourguide,:html =>{ :multipart =>true} ) do |f| %>
<table style="width:70%; margin-left:10%">
  <tr height="30px">
    <td width="20%"><%= f.label :name %></td>
    <td width="35%"><%= f.text_field :name %></td>
    <td><%=  @tourguide.errors[:name][0] %></td>
  </tr>
  <tr height="30px">
    <td><%= f.label :address %></td>
    <td><%= f.text_field :address %></td>
  </tr> 
  <tr height="30px">
    <td><%= f.label :gender %></td>
    <td><%= f.select :gender,options_for_select([["Male","0"],["Fmale","1"]],@tourguide.gender)%></td>
  </tr>
  <tr height="30px">
    <td><%= f.label :phone %></td>
    <td><%= f.text_field :phone %></td>
    <td><%= @tourguide.errors[:phone][0]%></td>
  </tr>
  <tr height="30px">
    <td><%= f.label :Email, "Email" %></td>
    <td><%= f.text_field :email %></td>
    <td><%= @tourguide.errors[:email][0]%></td>
  </tr>
  <tr height = "30px">
    <td><%= f.label :image, "Image" %></td>
    <td><%= f.file_field :images %></td>
    <td><%= @tourguide.errors[:images][0]%></td> 
  </tr>
  <tr height="30px">
    <td></td>
    <td> <%= f.submit"Create Tourguide",class:'btn_medium_blue' %></td>
  </tr>
</table>
<% end %>
